footer {
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

footer nav {
    display: flex;
    justify-content: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.social-icons a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons i {
  font-size: 1.5em;
}
